@tailwind base;
@tailwind components;
@tailwind utilities;

.chat-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f5ece6;
}

.h1 {
  text-align: center;
  color: #72655c;
  font-size: 1.4rem;
  font-weight: bold;
  padding-bottom: 10px;
}

.chat-history {
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 20px;
  padding: 0 12px;
  border-radius: 4px;
  background-color: #fff;
}

.message {
  margin: 10px 0;
  width: auto;
  padding: 10px;
  border-bottom: 1px solid #eaeaea;
}

.message.user {
  text-align: right;
  color: #1e1e1e;
  background-color: #f6f6f6;
  border-radius: 8px;
}

strong {
  font-weight: bold;
  color: #96887D;
}

.message.bot {
  text-align: left;
  color: #333;
}

.input-container {
  display: flex;
  border-color: #72655c;
  gap: 10px;
}

.chat-input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.send-button {
  padding: 8px 16px;
  background-color: #ab9b8f;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.send-button:hover {
  background-color: #96887D;
}

.loading {
  text-align: center;
  color: #666;
  font-style: italic;
}